<div class="container">
    <div class="row">
        <div class="col">
            <label>Nombre Persona</label>
            <!-- event binding
            <input 
            type="text" 
            class="form-control"
            (input)="onModificaPersona($event)"
            >
            {{tituloPersona}} -->

            <input 
            type="text" 
            class="form-control"
            [(ngModel)] = "tituloPersona"
            >
            {{tituloPersona}}
            

            <h1>Listado de personas</h1>
            <button class="btn btn-primary" 
            [disabled]="!agregarPersona"
            (click)="onCrearPersona()">Agregar persona</button>
            <p *ngIf="personaCreada">{{agregarPersonaStatus}} con titulo de {{tituloPersona}}</p>
            <app-persona></app-persona>
        </div>
    </div>
</div>